.ingredients-list {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.ingredients-list__item {
	flex: 1 0 48%;
	max-width: 48%;
	border-bottom: 1px solid sandybrown;
	display: flex;
	align-items: center;
	gap: 2vw;
	/*justify-content: space-between;*/
	/*flex-direction: row;*/
}

.ingredient-image {
	height: 75px;
	width: 75px;
	object-fit: contain;
}

.ingredient-label {
	flex: 2;
	text-transform: capitalize;
	font-weight: 400;
	opacity: .8;
}

.ingredient-qte {
	text-align: right;
	font-weight: 700;
}