.card {
	outline: 1px solid red;
	margin-block: 2vh;
	padding: 2vh;
}

.card-title {
	font-weight: 900;
	font-size: 3rem;
}

.card-wrapper {
	margin-block: 1vh;
}

.card-wrapper:hover {
	cursor: pointer;
}