.recipe-header {
	display: flex;
	flex-direction: column;
}

.recipe-title {
	width: fit-content;
	margin-bottom: 1vh;
	font-size: 2.5rem;
}

.recipe-diets {
	display: flex;
	gap: 1rem;
}

.recipe-diet__item {
	border-radius: 8px;
	padding: 6px 8px;
	background-color: green;
	color: white;
	font-size: 13px;
	text-transform: capitalize;
}

.recipe-image {
	margin-block: 2vh;
	object-fit: contain;
	width: 450px;
	height: 450px;
}

.recipe-summary {
	line-height: 1.5rem;
	padding: 8px;
	text-align: justify;
	background-color: #f3f3f3;
}

.divider {
	height: 4px;
	background-color: black;
	margin-block: 2rem;
}